.App{
  display:flex;
  flex-direction: column;
  
  
  width:1024px;
    max-width:1024px;
}

.Signout{
  align-self: flex-end;
  margin-right:2rem;
  padding:.2rem 0;
}

.Signout:hover{
  cursor: pointer;
}
