* {
    box-sizing: border-box;
}


body {
    margin: 20px 0;
    padding: 0;
    font-family: arial, sans-serif;
    overflow: scroll;
}



a {
    text-decoration: none;
    color: #333333;
    list-style: none;
}

a:hover {
    text-decoration: underline;
    list-style: none;
}


ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: auto;
    list-style: none;
}

/* --- HEADER --- */
header.container {
    margin-bottom: 1.5rem;
}

header .breadcrumb {
    color: #7d7d7d;
}

header .breadcrumb li {
    float: left;
    padding: 0 6px;
}

header .breadcrumb li:first-child {
    padding-left: 2px;
}

header .breadcrumb li:not(:last-child)::after {
    content: " \276f";
    padding-left: 8px;
}
