.NavBar-div {
  background: #CBD6ED;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 120px;
  }

.NavBar-link:hover {

  text-decoration: none;
  color: blue;
}

.NavBar-link{
border:1px solid peru;
}
