.Topheader {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 4fr 2fr;
  border-bottom: var(--solidBorder) var(--darkGrey);
}

.Topheader .HeaderLeft {
  display: flex;
}

.Topheader .HeaderLeft .BreadCrumb-link {
  align-self: center;
  padding: 0.4rem;
}

.Topheader .HeaderRight {
  display: flex;
  justify-content: space-between;
  /* height: 2rem; */
}

.Topheader .HeaderRight .ToTal {
  border: 2px solid gray;
  border-radius: 3px;
  justify-content: center;
  align-self: center;
  height: 2rem;
  padding: 0.2rem;
}

.Topheader .HeaderRight .SignOut {
  border: 2px solid gray;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 0.2rem;
}

.Topheader .HeaderRight .SignOut:hover {
  background: gray;
  color: white;
  cursor: pointer;
}

.TotalsHeader {
  margin: 2px solid purple;
  display: flex;
  justify-content: space-around;
}
