.Settings {
    grid-column: 1/ -1;
    grid-row: 1/ -1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 4rem 1fr;
    background-image: url('../../utils/Images/settings.svg');
    background-repeat: no-repeat;
    
}

.Settings .Settings-Form {
    grid-column: 3/ -1;
    grid-row: 2/ -1;
    padding: 2rem 3rem;
    padding: 2rem 3rem;
}


.Settings .NameText,
.Settings .OldPassWord,
.Settings .NewPassWord {
    display: flex;
    justify-content: space-between;
    width: 24rem;
    margin-bottom: 1rem;
}

.Settings .NameType,
.Settings .OldPasswordType,
.Settings .NewPasswordType {
    right: 8rem;
}

.Settings .OldPasswordType {
    width: 5rem;
}

.Settings .NewPasswordType {
    width: 5rem;
}

.Settings .Save {
    display: flex;
    justify-content: center;
}

.Settings .SaveDiv {
    box-shadow: 1.5px 1.5px grey;
}
/* Navigation bar */

/* Setting */
.CurrentPass {
    margin: 10px 0px;
}

.ChangePassword {
    margin: 300px 0px;
}

input {
    padding: 7px;
    min-width: 300px;
    border-radius: 3px;
    border: 1px solid #ddd;
}

input:hover {
    border: 1px solid #0099e6;
}

.savePass,
.saveProfile {
    padding: 7px;
    margin: 6px 0px;
    border-radius: 3px;
    border: 1px solid #06f;
    background-color: #05f;
    color: white;
}

.savePass:hover,
.saveProfile:hover {
    background-color: #1a75ff;
}

label {
    font-size: 18px;
    margin: 1rem;
}
