.Settings {
    grid-column: 1/ -1;
    grid-row: 1/ -1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 4rem 1fr;
    background-image: url('../../utils/Images/settings.svg');
    background-repeat: no-repeat;
    max-height: 600px;
    
}

.Settings .Settings-Form {
    grid-column: 4/ 8;
    grid-row: 2/ 3;
    padding: 2rem 3rem;
    padding: 2rem 3rem;
    max-height: 600px;
    text-align: left;
    min-width: 620px;
    width: 620px;
    max-width: 620px;
    min-height: 520px;
    max-height: 520px;
}

.Settings .Settings-Form .settings-cardcontent {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.changePassword-title {
    text-align: center;
    
}

h1 {
    text-decoration: underline var(--sky);
}


.currentPassword {
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.currentPassword-label {
    margin-right: 2%;
    margin-left: 2%;
}

.currentPassword-input {
    margin-left: 3%;
    min-width: 300px;
}

.newPassword {
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.newPassword-label {
    margin-right: 10%;
    margin-left: 2%;
}

.newPassword-input {
    /* margin-left: 12%; */
    /* display: inline-block; */
    min-width: 300px;
    margin : 0 auto;
}
.confirmPassword {
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.confirmPassword-label {
    margin-right: 4%;
    margin-left: 2%;
}

.confirmPassword-input {
    min-width: 300px;
    margin : 0 auto;
}

.Save {
    margin-top: 3rem;
}

.savePass {
    padding: .6rem 1.2rem;
    border-radius: 2px;
    border: 0;
    box-shadow: 1px 1px 1px 1px var(--buttonGrey);
    background-color: white;
}

.savePass:hover {
    background-color: var(--sky);
    color: white;
    cursor: pointer;
}

input {
    padding: 7px;
    min-width: 200px;
    border-radius: 3px;
    border: 1px solid #ddd;
    margin: 0 auto;
}

input:hover {
    border: 1px solid var(--sky);
}


