.FlightCard {
    display: flex;
    flex-direction: column;
    background: #E9E8E8;
    padding: 1rem;
    margin: 0;
}

.FlightCard h3 {
    margin: 0 0 1rem 0;
    padding: 0;
}

.FlightCard p {
    margin: 0 0 .5rem 0;
    padding: 0;
}

.FlightCard .FlightCard-Image {
    margin: 0 0 .5rem 0;
    padding: 0;
}

.FlightCard .FLightCard-Hours-Date {
    display: flex;
    justify-content: space-between;
}