

.air-card {
  width: 250px;
  margin: 10px 10px 10px 15%;
}

.card-typography {
  display: flex;
}

.card-typography-p {
  display: inline-block;
  padding: 5px 20px 0px 10px;
}

.modal-content {
  width: 760px !important;
  border-radius: 0px!important;
  display: flex;
  flex-direction: column;
}

.modal-title {
  display: flex;
  flex-direction: space-between;
}

.modal-header-p {
  flex-wrap: nowrap;
  padding: 0px 20px 0px 10px;
}

.edit-button {
  display: inline-block;
  height: 30px;
  color: black;
  margin-left: 100%;
  font-size: 15px;
  border: 2px solid var(--sky);
  border-radius: 2px;
  padding: 0 .5rem 0 .5rem;
  margin: 0 1rem 1rem 0;
}

.save-button{
  display: flex;
  color: black;
  font-size: 15px;
  border: 2px solid var(--sky);
  border-radius: 2px;
  padding: 0 .5rem 0 .5rem;
  margin: 0 1rem 1rem 0;
  align-items: flex-end;
}

.modal-body {
  display: flex;
  justify-content: center;
  padding: 0px !important;
}

.modal-body-img {
  height: 250px;
  width: 396px;
}
.modal-footer {
  display: flex;
  padding: 0px !important;
  justify-content: space-around !important;
}

.ul-1 {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  margin: 20px 0px 20px 0% !important;
  padding: 0px 30px 0px 0px;
  list-style-type: none;
}

.ul-2 {  
  font-size: 14px;
  display: flex;
  flex-direction: column;
  margin: 20px 40px 20px 0px;
  padding: 0px 10px 0px 20px;
  list-style-type: none;
}

.nested-modal-body {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 350px;
  width: 400px;
}

.edit-input-tn {
  margin-right: 50px;
  width: 120px;
  font-size: 14px;
  height: 20px;
}

.edit-input-lt {
  width: 120px;
  font-size: 14px;
  height: 20px;
}

/* Bee testing */
/* Start Card */
<<<<<<< HEAD
=======
.AircraftCard{
  /* border: solid .125rem rgb(238, 234, 236);
  border-radius: 7px;
  height: 20rem;
  padding: 1rem; */
  /* box-shadow: 1px 0 2px -1px rgba(113, 115, 117, 0.8), -1px 0 2px -1px rgba(113, 115, 117, 0.8); */

}
/* End Card */

>>>>>>> d2e7c85473d5808c58fe4b4873743abffff95e9d

.CardMedia {
  width: 100%;
  height: auto;
  min-height: 7rem;
  overflow: hidden;
  padding: 1rem 1rem 1rem 1rem;
  margin-bottom: 4rem;
}
/* End Card */

/* Start Modal */
.nested-modal-body {
  display: flex;
  justify-content: center;
  align-content: center;
  border: 3px solid orangered;
  margin: 1rem;
  width: auto;
}

.edit-input-tn, .edit-input-mt{
  background: rgb(248, 248, 248);
}

.ModalFooter{
  background: yellow;
  display: flex;
  text-align: right;
  color: green;
}
