.AircraftCard{
  min-height: 300px;
  max-height: 300px;
  height: 300px;
}


.AircraftCard .Content-aircraft {
  min-height: 300px;
  max-height: 300px;
  height: 300px;
}
 
.AircraftCard .CardMedia {
  width: 100%;
  height: auto;
  min-height: 7rem;
  overflow: hidden;
  padding: 1rem;
  margin-bottom: 1rem;
}

.AircraftCard .Content-aircraft .card-typography {
  display: flex;
  padding: 1rem;
  font-size: 1rem;
}

.AircraftCard .Content-aircraft .card-typography-p {
  display: flex;
  padding-left: 1rem;
}

.Detailed-aircraft .modal-content {
  display: flex;
  flex-direction: column;
  min-width: 500px;
}

.Detailed-aircraft .edit-button {
  border: 0;
  box-shadow: 1px 1px 1px 1px var(--buttonGrey);
  border-radius: 2px;
  padding: .4rem 1rem;
}

.Detailed-aircraft-edit .modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Detailed-aircraft-edit .edit-input-tn {
  margin: 0 1rem 1rem 0;
}

.Detailed-aircraft-edit .nested-modal-button {
  padding: .4rem 1rem;
  border-radius: 2px;
  border: 0;
  box-shadow: 1px 1px 1px 1px var(--buttonGrey);
}

.Detailed-aircraft-edit .nested-modal-button:hover {
  background-color: var(--buttonGrey);
  color: white;
  cursor: pointer;
}

.Detailed-aircraft-edit .modal-content .save-button {
  padding: .2rem 1rem;
  border-radius: 2px;
  border: none;
  box-shadow: 1px 1px 1px 1px var(--buttonGrey);
}
.Detailed-aircraft-edit .modal-content .save-button:hover {
  background-color: var(--buttonGrey);
  color: white;
  cursor: pointer;
}

.Detailed-aircraft-edit .modal-content .modal-header {
  border-bottom: none;
}
.Detailed-aircraft-edit  .modal-content .modal-footer {
  border-top: none;
}

.Detailed-aircraft .modal-body-img {
  height: auto;
  width: 100%;
  min-height: 20rem;
  max-height: 40rem;
}

.Detailed-aircraft .ul-1 {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.Detailed-aircraft .ul-2 {  
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.Detailed-aircraft .modal-footer{
  display: flex;
  justify-content: space-around;
}

.Detailed-aircraft .Edit-delete {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
}
