.Aircrafts {
  grid-column: 1/ -1;
  grid-row: 1/ -1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 4rem 1fr;
}


.Aircrafts .AircraftList {
  grid-column: 3/ -1;
  grid-row: 2/ -1;
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}